[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = "*"
langchainhub = "*"
python-dotenv = "*"
isort = "*"
langchain-groq = "*"
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.11"
